@light-brown: #edd9c0;
@green: #c9d8c5;
@blue: #a8b6bf;
@brown: #7d4627;


* {
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #f3f3f3;

}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 20px;

  &__container {
    //display: none;
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 1100px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;

  }

  &__text {
    font-weight: 900;
    margin-bottom: 40px;
    text-align: left;
    line-height: 1;
    transition: opacity 300ms;

    &.hidden {
      opacity: 0;
    }

    p:first-child {
      font-size: 65px;
      margin-bottom: 30px;

    }

    p:not(:first-child) {
      font-size: 30px;
      display: inline-block;
    }

  }

  @media (max-width: 768px) {
    &__text {
      p:last-child {
        font-size: 14px;
        margin-top: 10px;
      }

      p:first-child {
        font-size: 23px;

      }
    }

}


.circles {
  box-sizing: border-box;
  position: absolute;
  height: 50vh;
  bottom: 0;
  padding-top: 20vh;
  padding-bottom: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__item {
    opacity: 0.01;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #414141;
  }

  @media (max-width: 768px) {
    height: 46vh;
    padding-top: 24vh;
    padding-bottom: 11vh;

  }

}


.form-block {
  * {
    color: #fff
  }

  zoom: 0.8;
  box-sizing: border-box;
  position: absolute;
  width: 0px;
  height: 0px;
  padding-top: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(-20px);
  background-color: #000;
  border-radius: 50%;
  transition: padding 300ms, width 300ms, height 300ms, transform 300ms, opacity 300ms;
  z-index: -1;

  &.active {
    z-index: 1;
    opacity: 1;
    transform: translateY(215px);
    padding: 100px 120px 0;
    width: 700px;
    height: 700px;

    .form-block__close-btn {
      opacity: 1;
    }
  }

  h3 {
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    font-size: 32px;
    margin-top: 37px;
    font-weight: 600;
  }

  &__close-btn {
    opacity: 0;
    color: #000;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 70px;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
      color: #5b5b5b;
    }

    @media (max-width: 768px) {
      right: 150px;
      top: -30px;
    }

  }


  &__form {
    box-sizing: border-box;
    margin-top: 50px;
    width: 100%;
    padding: 0 50px;

    .contact-us {
      opacity: 0;
      margin-top: 10px;
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      margin-bottom: 20px;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 2px solid #fff;
      background: none;

      + label.text-label {
        display: block;
        transition: all 300ms;
        font-size: 15px;
        position: relative;
        top: -60px;

        &.minified {
          top: -80px;
          font-size: 12px;
        }
      }

      &:focus {
        + label.text-label {
          top: -80px;
          font-size: 12px;
        }
      }
    }

    .icons-block {
      display: flex;
      justify-content: space-between;
      padding: 0 70px;

      .icon-input {
        width: 35px;
        height: 35px;

        &:checked {
          + label.label-icon {
            background-color: #bebebe;
            filter: none;
          }
        }
      }

      .label-icon {
        cursor: pointer;
        //background-color: #fff;
        //border-radius: 5px;
        filter: invert();
        opacity: 0;
        display: flex;
        width: 45px;
        height: 45px;
        align-items: center;
        justify-content: center;
        transition: all 300ms;

        &:hover {
          background-color: #cacaca;
          transform: scale(1.08);
        }
      }
    }
  }
}

.order-btn {
  opacity: 0.01;
  z-index: 1;
  position: relative;
  font-weight: 600;
  padding: 1em 1.5em;
  border-radius: 3rem;
  font-size: 19px;
  transition: all 300ms;
  cursor: pointer;
  top: 0;
  border: 2px solid #d44e67;
  background-color: #d44e67;
  color: #fff;


  &:hover {
    background-color: #a73d51;
    //border: 2px solid black;
    //color: #000;
    animation: shake 0.8s infinite linear;
    transform-origin: 50% 50%;
  }

  &.active {
    top: 115px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;

    &:hover {
      background-color: #fff;
      color: #000;
      border: 3px solid #ffffff;

    }
  }
}

}

.portfolio {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding-top: 110px;

  &__heading {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin: 10px 20px 80px;
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    margin: 0 20px;
    display: flex;
    height: 320px;
    align-items: center;
    box-shadow: 25px 25px 53px #e0e0e0,
      -25px -25px 53px #ffffff;
    border-radius: 50px;
    transition: all 300ms;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 80px;
    }

    &:hover {
      box-shadow: 13px 13px 26px #cfcfcf,
        -13px -13px 26px #ffffff;
      background: #f1f1f1;

      img {
        transform: scale(1.05);
      }


    }

    .portfolio-card__content {
      display: flex;
      flex-direction: column;
      width: 45%;
      padding: 0 35px 0 55px;
      height: fit-content;
      box-sizing: border-box;
    }

    .portfolio-card__img {
      height: 100%;
      width: 55%;
      align-self: flex-start;
      border-radius: 50px 0 0 50px;
      overflow: hidden;
      //box-shadow: 25px 25px 53px #e0e0e0,
      //  -25px -25px 53px #ffffff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 800ms;
      }

    }

    h4 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 50px;
      width: fit-content;

    }

    p {
      font-family: sans-serif;
    }


    @media (max-width: 768px) {
      flex-direction: column;
      height: unset;
      background-color: #f1f1f1;
      padding-bottom: 30px;
      .portfolio-card__img {
        width: 100%;
        border-radius: 50px 50px 0 0;
      }

      h4 {
        margin: 30px auto 0px;
        text-align: center;
        //color: #fff
      }

      .portfolio-card__content {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
      }


      @media (max-width: 768px) {
        &:not(:last-child) {
          margin-bottom: 60px;
        }
      }

    }

  }

  .stats {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      width: 33.33%;

      &:not(:last-child) {
        margin-right: 15px;
      }

      div:first-child {
        font-size: 40px;
        color: #d44e67;
        font-weight: 600;
      }

      div:last-child {
        font-size: 12px;
      }
    }


    @media (min-width: 768px) and (max-width: 1050px) {
      zoom: 0.7;
    }

    @media (max-width: 768px) {
      margin-top: 30px;
      zoom: 0.8;


      &__item {
        align-items: center;

        * {
          text-align: center;
        }
      }

    }

  }

}


.services {
  display: flex;
  padding-top: 110px;
  padding-bottom: 50px;

  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;

    .heading {
      padding: 0 20px;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 90px;
      text-align: center;
      line-height: 1;
    }

    .services__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;


      .services__item, .services-item {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 310px;
        overflow: hidden;
        margin: 0 20px 50px;
        padding: 30px;
        border-radius: 50px;
        background: #f3f3f3;
        box-shadow: 25px 25px 53px #e0e0e0,
          -25px -25px 53px #ffffff;
        transition: all 300ms;

        &:hover {
          box-shadow: 13px 13px 26px #cfcfcf,
            -13px -13px 26px #ffffff;
          background: #f1f1f1;

          .services-item__circle {
            width: 150%;
            height: 150%;
          }

          .services-item__name {
            color: #cd4c63;
          }


        }

        &__name {
          white-space: nowrap;
          position: absolute;
          z-index: 1;
          font-size: 25px;
          bottom: 25%;
          left: 50%;
          transform: translateX(-50%);
          color: #d44e67;
          text-align: center;
          font-weight: 600;
          transition: all 300ms;
          line-height: 1;
        }

        &__circle {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #d4d4d4;
          width: 0px;
          height: 0px;
          border-radius: 50%;
          transition: all 300ms;
          z-index: 10;
          overflow: hidden;

          * {
            white-space: nowrap;
            color: #fff;
            font-size: 20px;
          }
        }

        &__emoji {
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          font-size: 90px;
        }

        &__price {
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          font-size: 24px;
          color: #000;
          white-space: nowrap;
        }


        &__bg {
          display: none;
          width: 100%;
          position: absolute;
          top: -29px;
          left: -60px;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 900;
          font-size: 310px;
          color: rgba(255, 255, 255, 0.3);
          line-height: 0.75;
          transform: rotate(-16deg);

        }

      }

    }

    @media screen and (max-width: 1100px) {
      .services__content {
        justify-content: center;
      }
    }

    @media screen and (max-width: 768px) {
      .services__content {
        justify-content: center;
      }
    }

    @media screen and (max-width: 500px) {
      padding: 0;

      .services__content {

        .services__item, .services-item {
          width: calc(100vw - 40px);
          height: calc(100vw - 40px);
        }

      }

    }

  }

}

.team {
  display: flex;
  padding-top: 110px;
  padding-bottom: 50px;

  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;

    .heading {
      padding: 0 20px;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 90px;
      text-align: center;
      line-height: 1;
    }

    .team__content {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &-item {
        display: flex;
        flex-direction: column;

        & img {
          display: block;
          border-radius: 50%;
          width: 100%;
          //height: auto;
          -o-object-fit: cover;
          object-fit: cover;
          margin-bottom: 16px;
          align-self: center;
          max-width: 250px;
          height: 250px;
          box-shadow: 25px 25px 53px #e0e0e0, -25px -25px 53px #ffffff;
          transition: all 300ms;

          &:hover {
            box-shadow: 13px 13px 26px #cfcfcf, -13px -13px 26px #ffffff;
          }
        }

        & h5 {
          font-size: 18px;
          line-height: 22px;
          font-weight: 800;
          display: block;
          text-align: center;
        }

        & p {
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          margin: 4px 0 0;
          color: #999;
          font-weight: bold;
        }
      }
    }
  }
}

.anchors-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  height: fit-content;
  padding: 30px 0 40px;
  width: 100%;
  justify-content: center;
  //transition: all 300ms;

  @media (max-width: 768px) {
    display: none;
  }

  //&.fixed {
  //  animation: 500ms ease-in appear-animation;
  //  position: fixed;
  //  bottom: 0;
  //  width: fit-content;
  //  top: 0;
  //  left: 10px;
  //  flex-flow: column;
  //  text-align: left;
  //
  //  div {
  //    margin: 0 18px;
  //    font-size: 32px;
  //
  //  }
  //}

  div {
    cursor: pointer;
    color: #cacaca;
    font-size: 25px;
    margin: 0 30px;
    transition: all 300ms;

    &:hover {
      color: #5b5b5b;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes appear-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.scroll-progress-bar {
  background-color: #d44e67;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 100;
}


