* {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      position: relative;
      margin: 0 0 50px 0;
      font-size: 20px;
      z-index: -1;

      img {
        width: 170px;
      }
    }

    &__text {
      font-size: 25px;
      margin-bottom: 40px;
      text-align: center;
      line-height: 1.5;
      transition: opacity 300ms;

      &.hidden {
        opacity: 0;
      }
    }

  }

  .form-block {
    * {
      color: #fff
    }
    zoom: 0.8;
    box-sizing: border-box;
    position: absolute;
    width: 0px;
    height: 0px;
    padding-top: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(-20px);
    background-color: #000;
    border-radius: 50%;
    transition: padding 300ms, width 300ms, height 300ms, transform 300ms, opacity 300ms;
    z-index: -1;

    &.active {
      z-index: 1;
      opacity: 1;
      transform: translateY(120px);
      padding: 100px 120px 0;
      width: 700px;
      height: 700px;

      .form-block__close-btn {
        opacity: 1;
      }
    }

    h3 {
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
      font-size: 32px;
      margin-top: 37px;
      font-weight: 600;
    }

    &__close-btn {
      opacity: 0;
      color: #000;
      position: absolute;
      top: 40px;
      right: 40px;
      font-size: 70px;
      transition: all 200ms;
      cursor: pointer;
      &:hover {
        color: #5b5b5b;
      }
    }


    &__form {
      box-sizing: border-box;
      margin-top: 50px;
      width: 100%;
      padding: 0 50px;

      .contact-us {
        opacity: 0;
        margin-top: 10px;
        font-size: 22px;
        text-align: center;
      }

      input {
        margin-bottom: 20px;
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 2px solid #fff;
        background: none;
        + label.text-label {
          display: block;
          transition: all 300ms;
          font-size: 15px;
          position: relative;
          top: -60px;
          &.minified {
            top: -80px;
            font-size: 12px;
          }
        }

        &:focus {
          + label.text-label {
            top: -80px;
            font-size: 12px;
          }
        }
      }

      .icons-block {
        display: flex;
        justify-content: space-between;
        padding: 0 70px;

        .icon-input {
          width: 35px;
          height: 35px;

          &:checked {
            + label.label-icon {
                background-color: #85d0ee;
            }
          }
        }

        .label-icon {
          cursor: pointer;
          background-color: #fff;
          opacity: 0;
          display: flex;
          width: 45px;
          height: 45px;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          transition: all 300ms;

          &:hover {
            background-color: #cacaca;

          }
        }
      }
    }
  }

  .order-btn {
    z-index: 1;
    position: relative;
    font-weight: 700;
    padding: 1rem 1.5rem;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    transition: all 300ms;
    cursor: pointer;
    top: 0;
    background-color: #fff;

    &:hover {
      background-color: #000;
      color: #fff;
      animation: shake 0.8s infinite linear;
      transform-origin:50% 50%;
    }

    &.active {
      top: 40px;
      background-color: #000;
      color: #fff;
      border: 3px solid #fff;

      &:hover {
        background-color: #fff;
        color: #000;
        border: 3px solid #ffffff;

      }
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  &__heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 10px;
  }

  &__card {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 280px;
    margin-bottom: 80px;
    align-items: center;

    .portfolio-card__content {
      display: flex;
      flex-direction: column;

      width: 50%;
      padding: 0 100px 0 60px;
      height: fit-content;
    }

    h4 {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-family: sans-serif;
    }

    img {
      width: 50%;
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      width: 33.33%;
      &:not(:last-child) {
        margin-right: 15px;
      }

      div:first-child {
        font-size: 40px;
      }

      div:last-child {
        font-size: 12px;
      }
    }
  }

}


.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding: 40px 0;
  }

  .heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 10px;
  }

  .content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 280px;
    margin-bottom: 80px;
    border:3px solid black;
    padding: 20px 80px;


    &-title {
      font-size: 30px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
      align-items: center;
      display: flex;
      max-width: 33.33%;
      width: 100%;
      text-decoration: underline;
    }

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        font-size: 18px;
        font-weight: 200;
        margin-top: 10px;
        text-align: justify;
      }

      &__desc {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & p {
          font-weight: 700;
          font-size: 24px;
          margin: 0;
          align-self: center;
        }

        & button {
          z-index: 1;
          position: relative;
          font-weight: 700;
          padding: 1rem 1.5rem;
          border: 3px solid black;
          border-radius: 5px;
          font-size: 18px;
          transition: all 300ms;
          cursor: pointer;
          top: 0;
          background-color: #fff;
        }
      }
    }
  }
}

.anchors-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  height: fit-content;
  padding: 30px 0 40px;
  width: 100%;
  justify-content: center;
  //transition: all 300ms;

  &.fixed {
    animation: 500ms ease-in appear-animation;
    position: fixed;
    bottom: 0;
    width: fit-content;
    top: 60px;
    right: 10px;
    flex-flow: column;
    text-align: right;

    div {
      margin: 0 18px;
      font-size: 30px;
    }
  }

  div {
    cursor: pointer;
    color: #cacaca;
    font-size: 25px;
    margin: 0 30px;
    transition: all 300ms;

    &:hover {
      color: #5b5b5b;
    }
  }
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes appear-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


